<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>[%-5level] %c{5} - %msg%n</Pattern>
		</encoder>
	</appender>
	<!-- 적용하는 프로젝트의 Base Package를 설정 -->
	<logger name="org.mybatis" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.callor.hello" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>