form.user {
  width: 80%;
  margin: 20px auto;
  fieldset {
    padding: 20px;
  }

  legend {
    text-align: center;
    margin: 10px;
  }

  div {
    width: 90%;
    margin: 5px auto;
    input {
      padding: 8px;
      border: 1px solid #ddd;
      outline: none;
      border-radius: 10px;
      width: 90%;
      margin: 0 auto;
      &:focus {
        border: 2px solid #aaa;
      }
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
